

*{margin: 0;padding: 0;box-sizing: border-box; font-family: sans-serif;}



body{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.menu{
  padding-top: 7px;;
  font-size: 30px;
}

.menu:hover{
  background-color: red;
}

p {
  font-size: 21px;
}

.background_image{
  background-image:fondu.jpg();
}

.capa {
  width:50%;
  height:3vh;
  position: absolute;

}

.parrafo{

  z-index: 1;
  weight: 540px;
  height:440px;
  padding: 20px 20px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 5px;

}
.parrafo img{
  width: 310px;
  border-radius: 0px;
  float:left;
  margin-right: 15px;
}

body {
background-image: url('fondu.JPEG');
background-repeat: no-repeat;
background-color :#black;
background-attachment: fixed;
background-size: cover;
background-repeat: no-repeat;
overflow: hidden;
height: 100vh;
}

div.horizontal div{
display:block;
float:left;
padding:0 10px;
}

div {
  display: inline;
  padding-bottom: 660px;
}
